<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPR SERVICES</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar">
  <ul>
    <li><a href="#image1" class="nav-link">IPR SERVICES</a></li>
    <li><a href="#image2" class="nav-link">COMPANY PROFILE</a></li>
    <li><a href="#image3" class="nav-link">IP TRUST SERVICE</a></li>
    <li><a href="#image4" class="nav-link">IPR CONSULTANCY TARRIF</a></li>
    <li><a href="#contact" class="nav-link">CONTACT</a></li>
  </ul>
</nav>

<main>
  <section id="image1" class="image-section">
    <img src="../static/images/ipr_1.jpg" alt="Image 1">
  </section>

  <section id="image2" class="image-section">
    <img src="../static/images/ipr_2.jpg" alt="Image 2">
  </section>

  <section id="image3" class="image-section">
    <img src="../static/images/ipr_3.jpg" alt="Image 3">
  </section>

  <section id="image4" class="image-section">
    <img src="../static/images/irp_4.jpg" alt="Image 4">
  </section>

  <section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
            <h2>Get in touch</h2>
            <p>Inquire us using the fields below. We'll reach out to you :D</p>
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <form id="contact-form" action="/contact/" method="post">
              <div class="col-md-6 col-sm-6">
                <input type="text" class="form-control" name="name" placeholder="Name" required="">
              </div>
              <div class="col-md-6 col-sm-6">
                <input type="email" class="form-control" name="email" placeholder="Email" required="">
              </div>
              <div class="col-md-12 col-sm-12">
                <textarea class="form-control" rows="5" name="message" placeholder="Message" required=""></textarea>
              </div>
              <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6">
                <button id="submit" type="submit" class="form-control" name="submit">Send Message</button>
              </div>
              {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            </form>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
            <div class="section-title">
              <h2>Contact Info</h2>
            </div>
            <h6 style="font-weight: bold;"><i class="fa fa-map-marker"></i> Dr. Harsh Khatter</h6>
            <p><i class="fa fa-comment"></i> <a href="mailto:harsh.khatter@kiet.edu">harsh.khatter@kiet.edu</a></p>
            <p><i class="fa fa-comment"></i> <a href="mailto:hk9219275292@gmail.com">hk9219275292@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const contactForm = document.getElementById('contact-form');

    // Smooth scroll functionality
    document.querySelectorAll('.navbar a').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const target = document.querySelector(this.getAttribute('href'));
            window.scrollTo({
                top: target.offsetTop,
                behavior: 'smooth'
            });
        });
    });

});
</script>

</body>
</html>
